{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"trailingComma": "all",
	"endOfLine": "auto",
	"bracketSpacing": true,
	"semi": true,
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(react-(.*)$)|^(react$)",
		"<THIRD_PARTY_MODULES>",
		"^types$",
		"^@/tests/(.*)$",
		"^@/stores/(.*)$",
		"",
		"^@/hooks/(.*)$",
		"^@/contexts/(.*)$",
		"^@/pages/(.*)$",
		"^@/components/atom/(.*)$",
		"^@/components/molecules/(.*)$",
		"^@/components/layout/(.*)$",
		"^@/components/sections/(.*)$",
		"^@/components/core/(.*)$",
		"^@/components/ui/(.*)$",
		"^@/components/icons/(.*)$",
		"",
		"^@/lib/(.*)$",
		"^@/utils/(.*)$",
		"^@/constants/(.*)$",
		"^@/assets/(.*)$",
		"",
		"^@/styles/(.*)$",
		"^(?!.*[.]css$)[./].*$",
		".css$",
		"^[./]"
	]
}
