@import "tailwindcss";

@theme {
	--color-primary: #31e4c4;
	--color-primary-alt: #2084d0;
	--color-primary-dark: #135269;
	--color-secondary: #1eab92;
	--color-gray-500: #69858d;
}

@layer utilities {
	.gradient_bg {
		background-image: linear-gradient(240deg, #31e4c4 30%, #2084d0 70%);
	}

	.container {
		@apply w-11/12 lg:w-full;
	}

	.search-shadow {
		box-shadow: 0 0 50px 0 rgba(135, 175, 225, 0.4);
	}

	.review-shadow {
		box-shadow: 0 10px 80px hsla(216, 9%, 69%, 0.2);
	}

	.specialist-shadow {
		box-shadow: 0 0 80px 2px rgba(0, 0, 0, 0.063);
	}

	.card-shadow {
		box-shadow: 0 10px 80px 0 hsla(216, 9%, 69%, 0.26);
	}
}
